<div id="main-slider-wrapper">
  <div id="slider-section">
    <div class="container main-slider">
      <div class="slider-content">
	<div class="row">
	  <div class="col-md-8">
	    <h1>Empower <br><span>Children</span> Dream</span></h1>
	    <p>Vestibulum vitae urna quis eros convallis hendrerit. Sed magna magna, congue vel dapibus a, sagittis in enim</p>
	    <a href="#" class="btn btn-primary">Donate Now</a>
	    <a href="https://www.youtube.com/watch?v=oAVtOmhQ5D4" class="video-link"><i class="fa fa-play"></i> Watch Video</a>
	  </div>
	</div>
      </div>
    </div>
  </div><!--/#slider section-->
</div><!--/#main-slider-wrapper-->

<div id="who-we-are">
  <div class="container">
    <div class="call-to-action">
      <div class="row">
	<div class="col-sm-9">
	  <h1>Join our Campaign!</h1>
	  <p>Proin gravida nibh vel velit auctor aliquet donate so far: <span>$30,00,000</span></p>
	</div>
	<div class="col-sm-3">
	  <a href="#" class="pull-right btn btn-primary">Donate Now</a>
	</div>
      </div>
    </div><!--/.call to action-->
    <div class="text-center who-we-are padding">
      <div class="row">
	<div class="col-sm-4">
	  <i class="fa fa-globe"></i>
	  <h2>Our World</h2>
	  <p class="lead">We are in 32 Countries</p>
	</div>
	<div class="col-sm-4">
	  <i class="fa fa-leaf"></i>
	  <h2>Our Promise</h2>
	  <p class="lead">59% Of all $ goes to Programs</p>
	</div>
	<div class="col-sm-4">
	  <i class="fa fa-trophy"></i>
	  <h2>Our Reach</h2>
	  <p class="lead">1198 Million Member</p>
	</div>
      </div>
    </div>
    <div class="our-details-tab">
      <div class="row">
	<div class="col-sm-12 col-md-6">
	  <img class="img-responsive" src="<%= image_path 'p1.jpg' %>" alt="" />
	</div>
	<div class="col-sm-12 col-md-6 tab-section">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs nav-justified" role="tablist">
	    <li class="active"><a href="#story" role="tab" data-toggle="tab">Our Story</a></li>
	    <li><a href="#mission" role="tab" data-toggle="tab">Mission</a></li>
	    <li><a href="#activity" role="tab" data-toggle="tab">Our Activity</a></li>
	    <li><a href="#faq" role="tab" data-toggle="tab">FAQ</a></li>
	  </ul>
	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div class="tab-pane fade in active" id="story">
	      <h4>Give the Life-changing Gift of Education in Citytown.</h4>
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth,</p>
	    </div>
	    <div class="tab-pane fade " id="mission">
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	    </div>
	    <div class="tab-pane fade " id="activity">
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth,</p>
	    </div>
	    <div class="tab-pane fade " id="faq">
	      <h4>Frequently asked questions -</h4>
	      <ul>
		<li>Q: Lorem Ipsum is simply dummy text ?</li>
		<li>Ans: Lorem Ipsum is simply dummy text of the printing</li>
		<li>Q: When an unknown printer took ?</li>
		<li>Ans: Lorem Ipsum is simply dummy text of the printing and typesetting.</li>
		<li>Q: I lie close to the earth ?</li>
		<li>Ans: Lorem Ipsum is simply dummy text. </li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#who-we-are-->

<div id="donations" class="parallax-section">
  <div class="overlay-bg"></div>
  <div class="padding container">
    <div class="row">
      <div class="col-sm-5">
	<div class="donations">
	  <h1>Donations</h1>
	  <p class="lead">Building Stronger Kids with Better Food</p>
	  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	  <a href="#" class="btn btn-primary">Donate/pay in your money</a>
	</div>
      </div>
      <div class="col-sm-7">
	<div class="text-center overall-process">
	  <img class="img-responsive" src="<%= image_path 'man.png' %>" alt="" />
	  <div class="progress-info">
	    <span class="lead"><i class="fa fa-thumbs-o-up"></i> Raised $ 9800</span>
	    <span class="lead"><i class="fa fa-flag-o"></i> Goal $ 98,000</span>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#donations-->

<div id="cause-list">
  <div class="container">
    <div class="section-title">
      <h1>Cause List</h1>
    </div>
    <div id="cause-list-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
	<li data-target="#cause-list-carousel" data-slide-to="0" class="active"></li>
	<li data-target="#cause-list-carousel" data-slide-to="1"></li>
	<li data-target="#cause-list-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
	<div class="item active">
	  <div class="row">
	    <div class="col-sm-4">
	      <div class="list-image border-one">
		<img class="img-responsive" src="<%= image_path '1.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Please Help Refugees</h2>
		<p><span>85%</span> Donated / <span>$7,291</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-two">
		<img class="img-responsive" src="<%= image_path '2.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Children Hunger</h2>
		<p><span>25%</span> Donated / <span>$7,891</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-three">
		<img class="img-responsive" src="<%= image_path '3.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Domestic violence</h2>
		<p><span>56%</span> Donated / <span>$6,000</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="item">
	  <div class="row">
	    <div class="col-sm-4">
	      <div class="list-image border-one">
		<img class="img-responsive" src="<%= image_path '1(1).jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Please Help Refugees</h2>
		<p><span>85%</span> Donated / <span>$7,291</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-two">
		<img class="img-responsive" src="<%= image_path '2.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Children Hunger</h2>
		<p><span>25%</span> Donated / <span>$7,891</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-three">
		<img class="img-responsive" src="<%= image_path '3.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Domestic violence</h2>
		<p><span>56%</span> Donated / <span>$6,000</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="item">
	  <div class="row">
	    <div class="col-sm-4">
	      <div class="list-image border-one">
		<img class="img-responsive" src="images/cause-list/1.jpg" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Please Help Refugees</h2>
		<p><span>85%</span> Donated / <span>$7,291</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-two">
		<img class="img-responsive" src="<%= image_path '2.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Children Hunger</h2>
		<p><span>25%</span> Donated / <span>$7,891</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="list-image border-three">
		<img class="img-responsive" src="<%= image_path '3.jpg' %>" alt="" />
	      </div>
	      <div class="list-info">
		<h2>Domestic violence</h2>
		<p><span>56%</span> Donated / <span>$6,000</span> To Go</p>
		<p>On the other hand, we denounce with righteous indignation and dislike.</p>
		<a href="#" class="btn btn-primary">Donate Now</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#cause-list-->

<div id="video-section" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<h1>How Can You Help!</h1>
	<p class="lead">Help for cause</p>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#video" class="btn btn-primary" role="tab" data-toggle="tab">Watch Video</a></li>
	  <li><a href="#mobilization" class="btn btn-primary" role="tab" data-toggle="tab">Mobilization</a></li>
	  <li><a href="#support" class="btn btn-primary" role="tab" data-toggle="tab">Support</a></li>
	</ul>
	<p>Aenean nonummy hendrerit mris. Phasellus porta. Fusce suscipit varius. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.</p>
      </div>
      <div class="col-sm-6">
	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="video">
	    <div class="embed-responsive embed-responsive-4by3">
	      <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/29805267"></iframe>
	    </div>
	  </div>
	  <div class="tab-pane fade" id="mobilization">
	    <img class="img-responsive" src="images/mobilization.jpg" alt="" />
	  </div>
	  <div class="tab-pane fade" id="support">
	    <h1>How we support for refugees</h1>
	    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
	    <ul>
	      <li><i class="fa fa-angle-right"></i> Phasellus porta</li>
	      <li><i class="fa fa-angle-right"></i> Fusce suscipit varius</li>
	      <li><i class="fa fa-angle-right"></i> Cum sociis natoque penatibus</li>
	      <li><i class="fa fa-angle-right"></i> Nascetur ridiculus mus</li>
	      <li><i class="fa fa-angle-right"></i> Typi non habent claritatem</li>
	      <li><i class="fa fa-angle-right"></i> Mirum est notare quam</li>
	      <li><i class="fa fa-angle-right"></i> Eodem modo typi</li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#video-section-->

<div id="event-section" class="padding">
  <div class="container">
    <div class="section-title">
      <h1>Events</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
	<div class="post-image">
	  <img class="img-responsive" src="images/recent-post/post1.jpg" alt="" />
	  <div class="event-date">
	    <p>Aug <span>01</span></p>
	  </div>
	</div>
      </div>
      <div class="col-md-4 col-sm-6">
	<div class="event-details">
	  <p class="event-time">10:00 am - 12:00 am</p>
	  <h2><a href="#">International Labour Organization (ILO) Department of Communications</a></h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
	</div>
      </div>
      <div class="col-md-4 col-sm-12">
	<div class="events">
	  <a href="#" class="single-event">
	    <div class="pull-left event-date">
	      <p>Aug <span>01</span></p>
	    </div>
	    <div class="event-info">
	      <p class="event-time">10:00 am - 12:00 am</p>
	      <p>Empowerment & Leadership</p>
	    </div>
	  </a>
	  <a href="#" class="single-event">
	    <div class="pull-left event-date">
	      <p>Jul <span>25</span></p>
	    </div>
	    <div class="event-info">
	      <p class="event-time">10:00 am - 12:00 am</p>
	      <p>Our Children Matter</p>
	    </div>
	  </a>
	  <a href="#" class="single-event">
	    <div class="pull-left event-date">
	      <p>Jul <span>21</span></p>
	    </div>
	    <div class="event-info">
	      <p class="event-time">10:00 am - 12:00 am</p>
	      <p>A Standard Post Format &  Solve it</p>
	    </div>
	  </a>
	  <a href="#" class="single-event">
	    <div class="pull-left event-date">
	      <p>Jul <span>17</span></p>
	    </div>
	    <div class="event-info">
	      <p class="event-time">12:00 am - 5:00 pm</p>
	      <p>Care for Children</p>
	    </div>
	  </a>
	</div>
      </div>
    </div>
  </div>
</div><!--/#event-section-->

<div id="our-member" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
	<div class="section-title">
	  <h1>Our Member</h1>
	</div>
	<div id="member-carousel" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#member-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#member-carousel" data-slide-to="1"></li>
	    <li data-target="#member-carousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active">
	      <div class="row">
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member2.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member3.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member4.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member5.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member6.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member7.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div><!--/.item -->
	    <div class="item">
	      <div class="row">
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member2.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member3.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member4.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member4.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member6.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member7.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div><!--/.item -->
	    <div class="item">
	      <div class="row">
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member7.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member2.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member3.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member4.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member5.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member6.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 col-md-3">
		  <div class="single-member">
		    <div class="member-image">
		      <img class="img-responsive" src="images/member/member1.jpg" alt="" />
		      <div class="member-info">
			<p class="lead">Jim Tobalt</p>
			<p>Campaign Coordinator</p>
			<ul>
			  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div><!--/.item -->
	  </div>
	</div>
      </div>
      <div class="col-sm-4">
	<div class="become-volunteer">
	  <img class="img-responsive" src="images/logo-icon.png" alt="" />
	  <h1><span>Become a</span>Volunteer</h1>
	  <p>This last point is important because there are some who advocate for democracy only when they are out of power.</p>
	  <a href="#" class="btn btn-primary">Apply Now</a>
	</div>
      </div>
    </div>
  </div>
</div><!--/#our-member-->

<div id="photo-gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/1.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/1.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/2.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/2.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/3.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/3.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/4.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/4.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/5.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/5.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/6.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/6.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/7.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/7.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/8.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/8.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/9.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/9.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/10.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/10.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/11.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/11.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-3 col-md-2">
	<div class="single-photo">
	  <div class="gallery-content">
	    <img class="img-responsive" src="images/gallery/12.jpg" alt="" />
	    <div class="photo-info">
	      <a class="image-link" href="images/gallery/12.jpg"><i class="fa fa-camera"></i></a>
	      <h4>Education For Child</h4>
	      <span>Wasim Ahmed</span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#Photo-Gallery-->

<div id="our-partner" class="padding">
  <div class="container">
    <div class="section-title">
      <h1>Our Partners</h1>
    </div>
    <div id="partner-carousel" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
	<li data-target="#partner-carousel" data-slide-to="0" class="active"></li>
	<li data-target="#partner-carousel" data-slide-to="1"></li>
	<li data-target="#partner-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
	<div class="item active">
	  <div class="row">
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/1.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/2.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/3.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/4.png" alt="" />
	    </div>
	  </div>
	</div>
	<div class="item">
	  <div class="row">
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/1.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/2.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/3.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/4.png" alt="" />
	    </div>
	  </div>
	</div>
	<div class="item">
	  <div class="row">
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/1.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/2.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/3.png" alt="" />
	    </div>
	    <div class="col-sm-3">
	      <img class="img-responsive" src="images/partner/4.png" alt="" />
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/#our-partner-->

<div id="word-for-humanity" class="padding parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
	<h1>Some Words For Save Castle</h1>
	<div id="humanity-carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="item active">
	      <img class="img-responsive img-circle" src="images/partner/partner1.png" alt="" />
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
	      <p class="word-author">Catherine Grace - America</p>
	    </div>
	    <div class="item">
	      <img class="img-responsive img-circle" src="images/partner/partner2.png" alt="" />
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
	      <p class="word-author">Catherine Grace - America</p>
	    </div>
	    <div class="item">
	      <img class="img-responsive img-circle" src="images/partner/partner3.png" alt="" />
	      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
	      <p class="word-author">Catherine Grace - America</p>
	    </div>
	  </div>
	  <ol class="carousel-indicators">
	    <li data-target="#humanity-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#humanity-carousel" data-slide-to="1"></li>
	    <li data-target="#humanity-carousel" data-slide-to="2"></li>
	  </ol>
	</div>
      </div>
    </div>
  </div>
</div><!--/#word-for-humanity-->

<div id="contact" class="padding">
  <div class="container">
    <div class="section-title">
      <h1>Contact Us</h1>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
	<div class="row contact-details">
	  <div class="col-sm-4">
	    <span><i class="fa fa-map-marker"></i></span>
	    <p class="contact-info">1234 Street Name, City Name</p>
	  </div>
	  <div class="col-sm-4">
	    <span><i class="fa fa-phone"></i></span>
	    <p class="contact-info">+(123) 456-7890 </p>
	  </div>
	  <div class="col-sm-4">
	    <span><i class="fa fa-envelope"></i></span>
	    <a class="contact-info" href="#">tea@savecastle.com</a>
	  </div>
	</div>
	<div class="contact-form">
	  <form id="contact-form" class="contact-form" name="contact-form" method="post" action="#">
	    <div class="row">
	      <div class="col-sm-6">
		<div class="form-group">
		  <input type="text" name="name" class="form-control" required="required" placeholder="Name">
		</div>
		<div class="form-group">
		  <input type="text" name="company" class="form-control" placeholder="Company">
		</div>
	      </div>
	      <div class="col-sm-6">
		<div class="form-group">
		  <input type="email" name="email" class="form-control" required="required" placeholder="Email Address">
		</div>
		<div class="form-group">
		  <input type="email" name="website" class="form-control" required="required" placeholder="Website">
		</div>
	      </div>
	      <div class="col-sm-12">
		<div class="form-group">
		  <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
		</div>
	      </div>
	    </div>
	    <div class="form-group">
	      <button type="submit" class="btn btn-primary">Send Your Message</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div><!--/#Contact-->
